body{
    background-color: rgb(255, 248, 239);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myh1{
    text-align: center;
    font-size: 4rem;
    color: hsla(0, 0%, 0%, 0.523);
}
#container{
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
}
#number{
    font-size: 4em;
    font-family: monospace;
    text-shadow: 10px 5px 7px grey;
    margin-bottom: 25px;
}
#buttons {
    scale: 1.7;
}
#buttons button{
    border: none;
    border-radius: 5px;
    width: 60px;
    cursor: pointer;
}
#stop{
    background-color: aqua;
}
#reset{
    background-color: rgb(255, 0, 0);
}
#start{
    background-color: rgb(0, 255, 98);
}